:root {
  box-sizing: border-box;
  --system-font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --bg-img-container-color: white;
}

@font-face {
  font-family: norse-bold-font;
  src: url("./fonts/Norse-Bold\ \(1\).otf");
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
}

.bg-img-container {
  width: max(453px, 25%);
  background-image: url("./img/halie-west-25xggax4bSA-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.logo-container {
  font-size: 60px;
  color: var(--bg-img-container-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 140px;
}

.logo-container > p {
  font-family: norse-bold-font, var(--system-font-family), sans-serif;
}

.logo-container img {
  height: 108px;
  width: 85px;
}

.bg-img-container > p {
  color: var(--bg-img-container-color);
  font-family: var(--system-font-family), sans-serif;
  position: absolute;
  bottom: -2px;
  left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 100px;
  font-size: 13px;
}

.bg-img-container > p > a {
  color: var(--bg-img-container-color);
  margin: 4px;
}

.signup-form-container {
  flex: 2;
}

.heading-container {
  height: 254px;
  margin-top: 0px;
  background: #f9fafb;
}

.heading-container > div {
  padding-top: 68px;
  font-size: 23px;
  padding-left: 45px;
  font-family: var(--system-font-family), sans-serif;
  font-weight: 600;
}
