:root {
  box-sizing: border-box;
  --system-font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --bg-img-container-color: white;
  --sign-up-form-container-color: #f9fafb;
}

@font-face {
  font-family: norse-bold-font;
  src: url("./fonts/Norse-Bold\ \(1\).otf");
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
}

.bg-img-container {
  width: max(453px, 25%);
  background-image: url("./img/halie-west-25xggax4bSA-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.logo-container {
  font-size: 60px;
  color: var(--bg-img-container-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 140px;
}

.logo-container > p {
  font-family: norse-bold-font, var(--system-font-family), sans-serif;
}

.logo-container img {
  height: 108px;
  width: 85px;
}

.bg-img-container > p {
  color: var(--bg-img-container-color);
  font-family: var(--system-font-family), sans-serif;
  position: absolute;
  bottom: -2px;
  left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 100px;
  font-size: 13px;
}

.bg-img-container > p > a {
  color: var(--bg-img-container-color);
  margin: 4px;
}

.signup-form-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  font-family: var(--system-font-family), sans-serif;
}

.heading-container {
  height: 254px;
  margin-top: 0px;
  background: var(--sign-up-form-container-color);
}

.heading-container > div {
  padding-top: 68px;
  font-size: 23px;
  padding-left: 45px;
  font-family: var(--system-font-family), sans-serif;
  font-weight: 600;
}

.form-container {
  padding-left: 45px;
  height: 320px;
  box-shadow: -1px 18px 20px -25px rgba(0, 0, 0, 0.9);
  margin-bottom: 10px;
}

.form-container form {
  display: flex;
  gap: 75px;
}

.form-one {
  display: flex;
  flex-direction: column;
}

.form-two {
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
}

input {
  width: 265px;
  height: 13px;
  padding: 10px;
  border: 2px solid #e5e7eb;
  font-size: 18px;
  border-radius: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
  outline: none;
  border: 1.8px solid blue;
  box-shadow: 0 3px 5px rgb(0 0 0 / 0.2);
}

/* Number input arrow hidden */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.error {
  outline: none;
  border: 1.8px solid red;
}

.valid {
  outline: none;
  border: 2px solid green;
}

.form-one div:nth-child(2),
.form-one div:nth-child(3),
.form-two div:nth-child(2),
.form-two div:nth-child(3) {
  margin-top: 15px;
}

.form-one div:nth-child(3) > p {
  margin: 0;
  color: red;
  font-size: 12px;
}

.btn-container {
  padding-left: 45px;
  padding-top: 45px;
  flex: 2;
  background-color: var(--sign-up-form-container-color);
}

.btn-container > p {
  font-weight: 500;
  font-size: 17px;
}

.btn-container > p span {
  margin: 5px;
  font-size: 17px;
  font-weight: 600;
  color: #596d48;
  cursor: pointer;
}

.create-account-btn {
  border: 1px solid;
  width: 180px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  color: white;
  background-color: #596d48;
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
}
